@import 'global';

.footer_header {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background;
    mix-blend-mode: hue;
}

.outer_footer_container {
    display: flex;
    flex-direction: column;
    width: 80vw;

    @include device(mobile) {
        width: calc(100% - 36px);
    }
}

.footer_container {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    width: 100%;

    @include device(mobile) {
        flex-direction: column;
    }

    a {
        text-decoration: none;
        @include font($font-stack, 14px, 400, -0.2px, #aeaeae);
    
        &:hover {
            color: $link-hover;
        }
    }
}

.footer_meta {
    display: flex;
    flex-direction: column;

    @include device(mobile) {
        width: 100%;
        padding-top: 4rem;
    }
}

.footer_logo img {
    max-height: 56px;
    padding: 20px 0;
}

.footer_links {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 20px;

    :nth-child(2) {
        text-decoration: underline;
        text-decoration-color: #d4d4d4;
    }
}

.footer_navs {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;

    @include device(mobile) {
        width: 100%;
        padding-top: 5rem;
    }
}

.footer_nav_links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer_navs_header {
    @include font($font-stack, 18px, 500, inherit, inherit);
}

.footer_links_container {
    display: flex;
    gap: 8rem;
    padding-top: 2rem;
}

.footer_copyright {
    display: block;
    padding-top: 8rem;
    @include font($font-stack, 14px, 300, -0.2px, #5c5c5c);
}
