$font-stack: 'Switzer';
$bp: (
    mobile: '(max-width: 500px)' /*479px*/,
    tablet: '(min-width: 501px and max-width: 767px)',
    desktop: '(min-width: 959px)',
); 

@mixin device($device) {
    $restrict: map-get($bp, $device);
    @media #{$restrict} {
        @content;
    }
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin font($family, $size, $weight, $spacing, $color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $spacing;
    color: $color;
}

@mixin background($url, $cover, $range, $repeat, $position, $top, $height, $blend, $opacity, $index) {
    content: '';
    background-image: url($url);
    background-size: $cover;
    background-position: $range;
    background-repeat: $repeat;
    position: $position; top: $top;
    height: $height; width: 100%;
    mix-blend-mode: $blend;
    opacity: $opacity; z-index: $index;
    pointer-events: none;
}

.global_container:before {
    @include background("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 600 600'%3E%3Cfilter id='a'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23a)'/%3E%3C/svg%3E", inherit, repeat, inherit, fixed, inherit, 100%, inherit, 0.12, 0);
}

.global_nav:before {
    @include background('../images/shape1.webp', cover, inherit, 50% 80%, absolute, -20%, 138%, color-burn, 0.3, 1);
    @include device(mobile) {
        height: 125%;
    }
}

.global_resource:before {
    @include background('../images/shape2.webp', cover, inherit, 50% 0%, absolute, 430vh, 150%, color-burn, 0.3, 1);
    @include device(mobile) {
        top: 525vh;
    }
}

@mixin primaryBtn($color, $background) {
    @include font(inherit, 14px, 500, -0.3px, $color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 16px 14px 16px;
    border-radius: 12px;
    background-color: $background;
    text-decoration: none;

    &:after {
        content: '\F138';
        font-family: 'bootstrap-icons';
        font-size: 16px;
        padding-left: 8px;
    }
}

.discover_btn {
    @include font(inherit, 14px, 500, -0.3px, #5c5c5c);
    line-height: 1;
    text-decoration: none;
    padding-left: 22px;

    &:hover {
        color: #212121;
    }
}

a {
    transition: 0.25s ease-in-out;
}