/* autoprefixer grid: autoplace */
@import 'global';

.hero_mask {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: -webkit-sticky; position: sticky;
    max-height: 100vh;
    height: 100vh;
    -webkit-mask-image: url('../mask.svg'); mask-image: url('../mask.svg');
    -webkit-mask-position: center center; mask-position: center center;
    -webkit-mask-repeat: no-repeat; mask-repeat: no-repeat;
    -webkit-mask-size: 100%; mask-size: 100%;

    @include device(tablet) {
        -webkit-mask-size: 300vh !important; mask-size: 300vh !important;
    }

}

.hero_header {
    display: flex;
    justify-content: center;
    height: calc(180vh);
    width: 100vw;
    position: relative;
    mix-blend-mode: hue;
    background-color: $background;

    .social_links {
        position: absolute;
        display: block;
        bottom: 16px; left: 20px;

        a i {
            font-size: 16px;
            padding-right: 14px;
            color: #fff;
        }
    }

}

.outer_container {
    height: 100vh;
    width: 100vw;
    background-color: $btn-color;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(40px, 5vw, 100px);

    @include device(tablet) {
        flex-direction: column;
        height: auto;
        width: calc(100vw - 18px);
        border-radius: 20px;
        align-items: baseline;
        min-height: 90vh;
        justify-content: space-between;
    }
}

.heading {
    @include font($font-stack, clamp(90px, 9.5vw, 154px), 400, -0.438rem, #fff);
    line-height: 0.67;

    &::first-letter {
        margin-left: -0.06em;
    }

    @include device(tablet) {
        @include font(inherit, 90px, 400, -0.25rem, #fff);
        line-height: 1;
    }
}

.sub_heading {
    @include font($font-stack, 14px, 400, -0.025rem, #dcdcdc);
    max-width: clamp(260px, 13.5vw, 260px);

    @include device(tablet) {
        margin: 18px 0 24px 0;
    }
}

.date {
    position: absolute;
    bottom: 20px; right: 28px;
    @include font($font-stack, 12px, 500, -0.5px, #fff);
}

.terminal_image {
    height: clamp(110px, 10.9vw, 400px);
    mix-blend-mode: luminosity;

    @include device(tablet) {
        height: clamp(50px, 6vh, 400px);
        padding: 27px 0 0 27px;
        mix-blend-mode: soft-light;
    }

    img {
        height: 100%;
    }
}

.hero_content {
    display: flex;
    justify-content: space-between;

    .primary_btn {
        @include primaryBtn($btn-color, $background);
    }

    @include device(tablet) {
        flex-direction: column;
        align-items: baseline;
        background-color: transparent;
        margin-bottom: 40px;
    }
}

.text_content {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    gap: clamp(22px, 3vw, 60px);
    top: clamp(1px, 0.3%, 10px);

    @include device(tablet) {
        left: 27px;
        gap: 0;
    }
}