@import 'global';

.nav_header {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 36px;
    background-color: #F7F7F7;
    mix-blend-mode: hue;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;

    @include query(mobile) {
        width: calc(100% - 18px) !important;
    }
}

.logo {
    display: flex;
    align-items: center;
    mix-blend-mode: darken;
}

.lgo {
    max-height: 50px;
}

.links {
    align-items: center;
}

.lnk {
    position: relative;
    color: #717171;
    background-color: #dfdfdf;
    font-weight: 500;
    font-size: 12px;
    transition: ease-in-out 0.2s;
}

:is(.links, .cta) a {
    text-decoration: none;
}

.lk1 {
    border-radius: 10px 0px 0px 10px;
    padding: 16px 22px 16px 26px;
}

.lk2 {
    padding: 16px 22px;
}

.lk3 {
    border-radius: 0px 10px 10px 0px;
    padding: 16px 26px 16px 22px;
}

.lk4 {
    background-color: #757575;
    color: #ffffff;
    border-radius: 10px;
    padding: 16px 22px;
}

.buttons {
    display: flex;
    gap: 20px;
}