@import 'global';

.resources_header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    mix-blend-mode: hue;
    background-color: $background;

    @include device(tablet) {
        padding-top: 4rem;
    }
}

.resources_accordion {
    display: grid;
    flex-direction: column;
    padding-top: 80px;
    width: 80vw;

    a:last-child {
        border: none;
    }

    @include device(tablet) {
        width: calc(100% - 36px);

        a:nth-child(3) {
            gap: 0;
        }
    
        a:is(:nth-last-child(-n+2), :nth-child(3)) span:first-child {
            width: 100%;
        }
    }
}

.accordion_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
    border-bottom: 1px solid #e7e7e7;
    text-decoration: none;

    @include device(tablet) {
        width: 100%;
        gap: 54px;
    }

    &:hover :is(a, span) {
        color: $link-hover;
    }

    span {
        transition: 0.25s ease-in-out;
    }

    .accordion_title {
        @include font($font-stack, 44px, 300, -3px, #8a8a8a);
    }

    .accordion_meta {
        @include font($font-stack, 15px, 400, -0.5px, #a4a4a4);
        display: inline-flex;
        -webkit-hyphens: auto;
        hyphens: auto;

        @include device(tablet) {
            font-size: 13px;
            color: #cacaca;
        }
    }
}