/* autoprefixer grid: autoplace */
@import 'global';

$btn-color: #9c7dff;

.sponsor_header {
    display: flex;
    height: calc(100vh - 53.5px - 60px);
    width: 100vw;
    position: relative;
    align-items: center;
    justify-content: center;
    mix-blend-mode: hue;
    background-color: $background;
    padding-top: 4rem;

    .primary_btn {
        @include primaryBtn($btn-color !important, $background);
    }

    @include device(tablet) {
        height: 100%;
    }

    .outer_container {
        height: 70vh;
        width: 80vw;
        background-color: $btn-color;
        gap: clamp(40px, 4.5vw, 100px);
        border-radius: 20px;

        @include device(tablet) {
            height: auto;
            width: calc(100vw - 18px);
        }
    }

    .text_content {
        gap: clamp(22px, 3.5vw, 70px);

        @include device(tablet) {
            gap: clamp(0px, 1vw, 60px);
        }
    }

    .sub_heading {
        color: #fff;
        max-width: clamp(411px, 23.9vw, 500px);
        padding-top: 6px;

        @include device(tablet) {
            width: 70%;
        }
    }
}

.sponsor_image {
    height: clamp(50px, 15.5vw, 400px);
    mix-blend-mode: lighten;

    @include device(tablet) {
        height: clamp(50px, 6vh, 400px);
        padding: 3.5vh 0 38vh 20px;
    }

    img {
        height: 100%;
    }
}
