@import 'global';

.work_header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    mix-blend-mode: hue;
    background-color: $background;

    @include device(mobile) {
        padding-top: 9rem;
    }
}

.work_container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    position: relative;

    @include device(mobile) {
        width: calc(100% - 36px);
    }
}

.title_heading {
    display: inline-block;
    @include font($font-stack, 104px, 600, -5px, #5c5c5c);
    padding-bottom: 14px;
    line-height: 1;

    @include device(mobile) {
        font-size: 80px;
        line-height: 1;
    }

    &.alt {
        color: #dadada;
    }
}

.work_btn_container {
    display: flex;
    align-items: center;
    padding-top: 18px;

    .primary_btn {
        @include primaryBtn(#fff, $btn-color);
    }
}

.work_image_grid {
    width: 80vw;
    display: flex;
    position: relative;
    padding: 80px 0;
    flex: 25%;
    gap: 18px;

    @include device(mobile) {
        flex-direction: column;
        width: calc(100% - 18px);
    }

    img {
        width: 100%;
        height: auto;
        max-width: calc(25% - 54px/4);
        border-radius: 20px;
    
        @include device(mobile) {
            max-width: 100%;
        }
    }
}