@import 'global';

.work_header {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
    mix-blend-mode: hue;
    background-color: $background;
}

.work_container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    position: relative;

    @include device(tablet) {
        width: calc(100% - 36px);
    }
}

.outer_work_container {
    width: 80vw;
    display: flex;
    position: relative;
    align-items: center;

    @include device(tablet) {
        flex-direction: column;
        width: calc(100%);
    }

    .sub_heading {
        @include font($font-stack, 14px, 400, -0.025rem, #9e9e9e);
        max-width: 300px;
        height: 100%;
        line-height: 1.5;
    
        @include device(tablet) {
            margin: 45px 18px 24px 18px;
            max-width: 100%;
        }

        a {
            color: #9e9e9e;
        }

        a:hover {
            color: $link-hover;
        }
    }

}

.title_heading {
    display: inline-block;
    @include font($font-stack, 104px, 600, -5px, #5c5c5c);
    padding-bottom: 14px;
    line-height: 1;

    @include device(tablet) {
        font-size: 80px;
        line-height: 1;
    }

    &.alt {
        color: #dadada;
    }
}

.work_btn_container {
    display: flex;
    align-items: center;
    padding-top: 18px;

    .primary_btn {
        @include primaryBtn(#fff, $btn-color);
    }
}

.work_image_grid {
    width: 80vw;
    display: flex;
    position: relative;
    padding: 80px 0;
    flex: 25%;
    gap: 18px;

    @include device(tablet) {
        flex-direction: column;
        width: calc(100% - 18px);
        padding-top: 27px;
    }

    img {
        width: 100%;
        height: auto;
        max-width: calc(25% - 54px/4);
        border-radius: 20px;
    
        @include device(tablet) {
            max-width: 100%;
        }
    }
}